/*   IMPORT FONTS
   ================================================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
/* ================================================
        BASE
      ================================================ */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #b1b1b1;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

img {
  max-width: 100%;
  display: block;
}

ul[class] {
  list-style: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
    ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
    ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
    ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
    ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
    ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
    ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
    ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ================================================
     RESET CSS
   ================================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  font-size: 16px;
}

input,
button {
  border: none;
  outline: none;
}

/* ================================================
     TYPOGRAPHY
   ================================================ */
.heading-5, .heading-4, .heading-3, .heading-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-decoration: none;
}

.heading-2 {
  font-size: 30px;
  line-height: 0.9;
  color: #fff;
  padding-bottom: 40px;
}

.heading-3 {
  font-size: 20px;
  letter-spacing: 0.32px;
  color: #fff;
}

.heading-4 {
  font-size: 22px;
  letter-spacing: 0.32px;
  color: #000;
}

.heading-5 {
  font-size: 18px;
  letter-spacing: 0.32px;
  color: #fff;
  padding-bottom: 20px;
}

input,
textarea,
select {
  -webkit-appearance: none;
  border: none;
  outline: 0;
  border-radius: 5px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 21px;
  background-color: transparent;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
input:focus,
textarea:focus,
select:focus {
  color: #b1b1b1;
  border-color: #05d65f;
}

button {
  background-color: transparent;
  color: #fff;
  fill: #fff;
  padding: 0 20px 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
button:hover {
  color: #05d65f;
  fill: #05d65f;
}

.social-icon {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  padding: 16px 0px;
  fill: #fff;
  margin-left: 6px;
}

.header {
  padding-top: 10px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}
.header__search-input {
  padding: 12px 120px 12px 15px;
  border: 1px solid rgba(177, 177, 177, 0.2);
  margin-right: -55px;
}
.header__search-input::-webkit-input-placeholder {
  color: rgba(177, 177, 177, 0.2);
}
.header__search-input::-moz-placeholder {
  color: rgba(177, 177, 177, 0.2);
}
.header__search-input:-ms-input-placeholder {
  color: rgba(177, 177, 177, 0.2);
}
.header__search-input::-ms-input-placeholder {
  color: rgba(177, 177, 177, 0.2);
}
.header__search-input::placeholder {
  color: rgba(177, 177, 177, 0.2);
}
.header__search-icon {
  width: 18px;
  height: 18px;
}
.header__search-icon:hover {
  color: #05d65f;
  fill: #05d65f;
}
.header__button {
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header__button:hover {
  color: #05d65f;
  fill: #05d65f;
}

.wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list-item {
  margin-right: 40px;
  color: #fff;
  font-size: 14px;
}

.premium-slider__content {
  text-align: center;
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 130px;
}
.premium-slider__content__heading {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.premium-slider__content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  padding: 70px 0 70px;
}
.slider__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  cursor: pointer;
  border: 4px solid rgba(177, 177, 177, 0.1);
}
.slider__item:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: 4px solid #05d65f;
}
.slider__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
}
.slider__info {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.slider__raiting-icon {
  fill: #e4a100;
}
.tab__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.tab__link {
  margin-right: 40px;
}
.tab__link-icon {
  background-color: #b1b1b1;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  fill: #000;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tab__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 40px;
}

.tab-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  margin-bottom: 200px;
}
.footer__wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(177, 177, 177, 0.2);
  margin: 30px 0 90px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}
.footer__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px 80px 300px 80px 350px;
  grid-template-columns: 180px 300px 350px;
  grid-column-gap: 80px;
}

.site-map__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 2.2;
}

.category__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  font-size: 14px;
  line-height: 2.2;
}
.category__item {
  display: -ms-grid;
  display: grid;
}

.subscribe {
  font-size: 16px;
}
.subscribe__form {
  margin-top: 20px;
  border: 1px solid #05d65f;
  border-radius: 5px 6px 6px 5px;
  margin-right: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe__form-input {
  padding: 20px 10px 20px 40px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.6;
  width: 100%;
}
.subscribe__form-button {
  background-color: #05d65f;
  border: 1px solid #05d65f;
  border-radius: 0 5px 5px 0;
  padding: 0 30px 0 30px;
}
.subscribe__form-btn {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon__google {
  background-color: #3B5998;
}
.icon__twitter {
  background-color: #1DA1F2;
}
.icon__youtube {
  background-color: #CD201F;
}
.icon__instagram {
  background-color: #1565C0;
}