// COLOR VARIABLES
$title: #544f4c;
$text: #4a4a4a;
$button: #ca886e;
$footer: #4a4a4a;

//RESPONSIVE BREAKPOINTS
// $bp-largest: 80em; //1280px/16
// $bp-large: 64em; //1024px/16
// $bp-medium: 47.9em; //768px/16
// // $bp-small: 37.5em; //600px/16

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
  line-height: 1.6;
}

html,
body {
  height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 4.6rem;
}