.header {
    background-image: url(../img/home.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 600px;

    &__special-offer {
        height: 5rem;
        padding: 1.5rem;
        background-color: #423d39;
        color: #fff;
        text-align: center;

        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-size: 1rem;
    }

    &__inner {
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s linear;
        &.sticky {
            position: fixed;
            top: 0;
            left: 4.6rem;
            right: 4.6rem;
            z-index: 99;

            &:before {
                content: "";
                background: #fff;
                box-shadow: 0 0 2px 0 rgba(75, 55, 55, 0.6);
                position: absolute;
                top: 0;
                bottom: 0;
                left: -999px;
                right: -999px;
            }
        }
    }
    &__button {
        position: relative;

        &-item {
            border: none;
            background-color: transparent;
            cursor: pointer;
            margin-left: 4.5rem;
        }
        &-search,
        &-user,
        &-cart {
            fill: #292929;
            height: 1.6rem;
            width: 1.6rem;
            &:hover {
                fill: $button;
            }
        }
    }
}
.menu-btn,
.burger__list-item {
    display: none;
}

.logo {
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: #292929;
    margin-right: auto;
    &:hover {
        color: #292929;
    }
}

.menu {
    position: relative;
    opacity: 1; 
    visibility: visible;

    &__list {
        display: flex;
        align-items: center;
    }

    &__list-item {
        margin-left: 4.5rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 3px;
        font-family: "Circular Std", sans-serif;
    }

    &__list-link {
        color: #292929;
    }
}

.top {
    &__inner {
        padding-top: 18rem;
    }
    &__title {
        font-size: 3rem;

        text-transform: uppercase;
        font-weight: 500;
        line-height: 4.1rem;
        letter-spacing: 3px;
        color: $title;
        width: 40rem;
        font-family: "Circular Std";
        padding-bottom: 1rem;
    }
    &__text {
        font-size: 1.6rem;
        margin: 0 0 1.8rem;
        color: $title;
        font-weight: 500;
        width: 42rem;
    }

    &__btn {
        font-size: 1.2rem;
        text-transform: uppercase;
        background-color: $button;
        color: #fff;
        padding: 1rem 2.2rem;
        border: none;
        font-weight: 500;
        transition: all 0.5s;
        cursor: pointer;
        letter-spacing: 2px;
        border: transparent;

        &:hover {
            border: 1px solid $title;
            color: $title;
            background-color: transparent;
        }
    }
}

/* 
SECTION  PRODUCTS
*/
.products {
    margin-top: 8rem;
}
.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    transition: all 4s;
    &__item {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
            transition: all 0.4s;
            .product__item-arrow {
                animation: move 0.4s ease forwards;
            }
        }
        &-image {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.4s;
            &:hover {
                transform: scale(1.1);
            }
        }
        &-text {
            text-transform: uppercase;
            position: absolute;
            top: 1rem;
            left: 1rem;
            padding: 0.4rem 1.3rem;
            color: $text;
            background-color: #fff;
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 1.6px;
        }
        &-arrow {
            opacity: 0;
            margin-left: -3rem;
        }
    }
}
@keyframes move {
    0% {
        opacity: 0;
        margin-left: -1rem;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

/* 
SECTION  PRESS-CONTENT
*/
.press-content {
    margin: 7.6rem 0 7rem;
    display: grid;
    justify-content: center;
}
.press {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10rem;
    margin: 0 12rem 0 12rem;

    &__item {
        display: grid;
        grid-template-rows: min-content, 1fr;
        grid-row-gap: 1.6rem;

        &-icon {
            justify-self: center;
        }
        &-text {
            text-align: center;
            color: #292929;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0.6px;
            line-height: 2rem;
        }
    }
}

/* 
SECTION  SLIDER
*/
.slider {
    &__item {
        position: relative;
        max-width: 100%;
    }
    &__info {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &-title {
            color: $title;
            font-weight: 500;
            letter-spacing: 0.8px;
            font-size: 2.2rem;
            text-transform: uppercase;
            padding-bottom: 1rem;
        }
        &-text {
            font-size: 1.6rem;
            font-weight: 500;
            color: $title;
            padding-bottom: 1rem;
        }

        &-btn {
            font-size: 1.2rem;
            text-transform: uppercase;
            background-color: $button;
            color: #fff;
            padding: 1rem 2.2rem;
            border: none;
            font-weight: 500;
            transition: all 0.5s;
            cursor: pointer;
            letter-spacing: 2px;

            &:hover {
                border: 1px solid $title;
                color: $title;
                background-color: transparent;
            }
        }
    }
}

.slider .slick-dots {
    bottom: 3.3rem;
    width: auto;
    left: 13rem;
}

/* 
SECTION FEATURES 
*/
.features {
    &:after {
        content: "";
        display: block;
        height: 1px;
        background: rgba(76, 76, 76, 0.2);
        text-align: center;
        width: 124.8rem;
        margin-left: auto;
        margin-right: auto;
        @media only screen and (max-width: $bp-large) {
            width: 87rem;
        }
    }
}
.feature {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 14rem;
    padding: 8rem 0;

    &__item {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        grid-column-gap: 2rem;

        &-icon {
            object-fit: cover;
            display: block;
            width: 4.5rem;
        }
        &-heading {
            color: $text;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
}

/* 
SECTION TRENDING
*/
.trending {
    &:after {
        content: "";
        display: block;
        height: 1px;
        background: rgba(76, 76, 76, 0.2);
        text-align: center;
        width: 134rem;
        margin-left: auto;
        margin-right: auto;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem;

        font-weight: 500;
        letter-spacing: 0.8px;
        &-heading {
            font-size: 2.4rem;
            text-transform: uppercase;
            color: $title;
            // padding-right: 4rem;
        }
        &-text {
            margin-left: 4rem;
            font-size: 1.6rem;
            color: $text;
        }
    }
    &__products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        padding-bottom: 9rem;

        &-item {
            &:hover {
                .trending__products-button {
                    opacity: 1;
                }
                .trending__products-sale {
                    color: $button;
                }
            }
        }

        &-scale {
            overflow: hidden;
            cursor: pointer;
            margin-bottom: 1rem;
        }
        &-images {
            transition: all 0.5s;
            &:hover {
                transform: scale(1.1);
            }
        }
        &-name {
            color: #4c4c4c;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.8px;
            text-decoration: none;
        }
        &-price {
            color: rgba(76, 76, 76, 0.4);
            font-size: 1.6rem;
            font-weight: 500;
        }
        &-sale {
            color: rgba(76, 76, 76, 0.4);
            font-size: 1.6rem;
            font-weight: 500;
        }
        &-compare {
            color: rgba(76, 76, 76, 0.4);
            font-size: 1.6rem;
            font-weight: 500;
            text-decoration: line-through;
        }
        &-button {
            background-color: #978873;
            border: none;
            border-radius: 5rem;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1.6px;
            font-size: 1rem;
            font-weight: 500;
            padding: 0.6rem 1.5rem;
            margin-top: 0.5rem;
            cursor: pointer;
            opacity: 0;
            &:hover {
                background-color: #a39580;
            }
        }
    }
}

.our-instagram {
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        color: $title;
        font-weight: 500;
        letter-spacing: 0.8px;

        &-heading {
            font-size: 2.2rem;
            text-transform: uppercase;
        }
        &-text {
            font-size: 1.4rem;
            color: $title;
            margin-left: 4rem;
        }
    }
}

/* 
SECTION INSTAGRAM
 */
.instagram {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    margin-bottom: 9.4rem;

    &__item {
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transition: all 250ms;
        }
        &:hover {
            &:after {
                background-color: rgba(#000, 0.4);
            }
            .instagram__element-icon {
                opacity: 1;
                z-index: 1000;
            }
        }
    }

    &__element {
        &-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2.5rem;
            height: 2.5rem;
            opacity: 0;
            fill: #fff;
        }
    }
}

/* 
FOOTER
*/
.footer {
    &__content {
        background-color: #eaeaea;
        padding: 8.4rem 0 9.6rem;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 6rem;
    }

    &__one {
        // width: 25rem;
        display: flex;
        flex-direction: column;

        &-item {
            display: inline-block;
        }

        &-media {
            display: inline-block;
            padding: 6px 9px 5px 9px;
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 50%;
            border: 1.8px solid rgba(74, 74, 74, 0.1);
            fill: #aa8e7b;

            &:hover {
                background-color: $button;
                fill: #fff;
                border: 1.8px solid $button;
            }
        }

        &-nav {
            padding-top: 1.5rem;
            color: $footer;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    &__two {
    }

    &__three {
    }

    &__form {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon {
            height: 1.8rem;
            width: 1.8rem;
        }

        &-input {
            padding: 0.7rem 1.6rem;
            border: none;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 3rem;
            width: 100%;
            margin-right: -4.5rem;

            &:focus {
                outline: none;

                &::placeholder {
                    color: #fff;
                }
            }
        }

        &-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            border: none;
            background-color: #fff;
            padding: 1.3rem 1.4rem;

            &:focus {
                outline: none;
                height: 100%;
                background-color: #fff;
            }
            &:hover {
                background-color: $button;
                fill: #fff;
            }
        }
    }

    &__four {
        display: flex;
        flex-direction: column;

        &-icon {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            fill: $footer;

            &:hover {
                fill: $button;
            }
        }
    }

    &__copyright {
        background-color: $footer;
        color: #fff;
        text-align: center;
        padding: 2rem 3rem;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
}

.title-footer {
    font-size: 2rem;
    color: $footer;
    padding-bottom: 1.5rem;
}
.text-footer {
    color: $footer;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 3rem;
    list-style: none;
}

.wrapper-social {
    padding-bottom: 1.5rem;
}

a {
    &:hover {
        color: $button;
        fill: $button;
    }
}

a {
    text-decoration: none;
    color: $footer;
    &:hover {
        color: $button;
        fill: $button;
    }
}
