.section {
    &__support {
        padding: 140px 0;
        @media (max-width: $breakpoint1200) {
            padding: 100px 0;
        }
        @media (max-width: $breakpoint992) {
            padding: 75px 0;
        }
        @media (max-width: $breakpoint768) {
            padding: 35px 0;
        }
    }
}
.support {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    &__item {
        padding: 20px;
        flex: 0 1 255px;
        border-radius: 4px;
        background: #FAFBFD;
        @media (max-width: $breakpoint768) {
            padding: 10px;
        }
        &-img {
            img {
                max-width: 100%;
                width: 100%;
                height: auto; 
            }
        }
        &-text {
            margin-top: 15px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: $primary;
        }
        &-links {
            margin-top: 7px; 
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    &__link {}
}

.first {
    &__support {
        margin-top: 45;
        @media (max-width: $breakpoint768) {
            margin-top: 10px;
            flex-wrap: wrap;
            gap: 10px;
        }
        .support__item {
            @media (max-width: $breakpoint768) {
                flex: 0 1 100%;
                &:nth-child(even) {
                    filter: none;
                    box-shadow: none;
                    background: #fafbfd
                }
            }
            &:nth-child(even) {
                filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
                background: #ffffff;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
            }
        }
    }
} 

.second {
    &__support {
        margin-top: 30px;
        @media (max-width: $breakpoint768) {
            margin-top: 10px;
            flex-wrap: wrap;
        }
        .support__item {
            @media (max-width: $breakpoint768) {
                flex: 0 1 100%;
                &:nth-child(odd) {
                    filter: none;
                    box-shadow: none;
                    background: #fafbfd
                }
            }
            &:nth-child(odd) {
                filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
                background: #ffffff;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
            }
        }
    }
} 