.promo {
    min-height: 650px;
    padding: 21px 0 93px;
    background: url(../img/promo_bg.jpg) center (center/cover) no-repeat;
    &__wrapper {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header {
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-white;
        span {
            padding-top: 17px;
            display: block;
            font-size: 24px;
            line-height: 24px;
            font-weight: 500;
        }
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        color: $color-white;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        padding-top: 8px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        color: $color-white;
        a {
            color: $color-white;
            text-transform: uppercase; 
            text-decoration: underline;
        }
    }
}