.section {
    &__take {
        margin-top: 100px;
        padding: 100px 0 100px;
        background: $blue;
        color: #ffffff;
        @media (max-width: $breakpoint992) {
            margin-top: 75px;
            padding: 75px 0 75px;

        }
        @media (max-width: $breakpoint768) {
            margin-top: 50px;
            padding: 50px 0 50px;
        }
    }
}
.take {
    margin: 0 auto;
    max-width: 600px;
    &__text {
        font-size: 22px;
        line-height: 32px;
        @media (max-width: $breakpoint480) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__descr {
        margin-top: 10px;
    }
}