// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1180;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #ffffff;
$burgerActiveColor: 'white';

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';

//Color
$blue: #184b78;
$light: #fffbf5;
$dark: #1a1a1a;