.contacts {
    padding: 120px 0 90px;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
        }
    }
    &__descr {
        padding-top: 20px;
        .divider {
            margin: 0;
        }
    }
    &__title {
        position: relative;
        padding: 1px 0 0 12px;
        @include before_circle;   
        &:before {
            top: -10px;
        }
    }
    &__text, &__social {
        margin-top: 20px;
    }
    &__link {
        margin-right: 25px;
        img {
            max-width: 30px;
            max-height: 30px;
        }
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 27px;
        label {
            display: block;
            position: absolute;
            height: 18px;
            left: 12px;
            top: -9px;
            background: #fff;
            padding: 0 8px;
            font-style: 12px;
            margin-bottom: 0;
        }
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-size: 12px;
            font-weight: 500;
            &:active, &:hover, &:focus {
                outline: 0;
                outline-offset: 0;
            }
        }
    }
    &__textarea {
        grid-column: 1 / 3;
        position: relative;
        textarea {
            padding: 20px;
            width: 100%;
            height: 100%;
            resize: none;
            &:active, &:hover, &:focus {
                outline: 0;
                outline-offset: 0;
            }
        }
    }
    &__btn {
        border: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
    &__triggers {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }
    &__policy {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
        }
    }
} 