@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
    .promo {
        .title_fz16 {
            line-height: 24px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 0 0 0;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__subtitle {
            font-size: 30px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 262px);
            justify-content: space-between;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
        }
        &__btns {
            width: 250px;
        }
    }
    .about {
        padding-top: 40px;
        .title_fz36 {
            font-size: 30px;
            line-height: 36px;
        }
        .title_fz24 {
            font-size: 16px;
        }
        .title_fz16 {
            line-height: 16px;
        }
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__subtitle {
            margin: 20px 0 15px;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 200px;
                grid-gap: 20px;
            }
        }
        &__photo {
            grid-row: unset;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57% / cover;
        &__title {
            width: 290px;
        }
        &__btns {
            margin-top: 30px;
        }
    }

    .about {
        padding-top: 40px;
        .title_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
        .title_fz24 {
            font-size: 14px;
        }
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
            row-gap: 20px;
        }
        &__skills {
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 200px;
                grid-gap: 20px;
            }
            &-text {
                margin-top: 0px; 
            }
        }
    }
    .resume {
        .title_fz36 {
            padding-top: 20px;
            font-size: 23px;
            line-height: 36px;
        }
        .title_fz20 {
            padding-bottom: 25px;
        }
        .divider {
            margin-top: 15px;
        }
        &__wrapper {
            padding-top: 40px;
            grid-template-columns: 1fr;
        }
        &__column {
            &-title {
                &::before {
                    top: 22%;
                }
            }
            ul li {
                &:after {
                    top: -46px;
                    height: calc(100% + 40px);
                }
            }
        }

        &__item {
            margin-top: 10px;
            &::before {
                top: 17px;
            }
            &-head {
                padding: 0 0 10px 100px; 
            }
            &-body {

            }
            &-icon {
                top: 8px;
            }
        }
    }

}