.slider {
    @include breakpoint-down-7 {
        background-color: #FEFBF9;
    }
    &__item {
        position: relative;
        max-width: 100%;
    }
    &__info {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        width: 350px;
        @include breakpoint-down-7 {
            position: relative;
            top: 0;
            margin-top: 110px;
            text-align: center;
            left: 50%;
            transform: translateX(-50%, -50%);
            height: 120px;
            
        }
        &-title {
            text-transform: uppercase;
            padding-bottom: 15px;
        }

        &-text {
            color: $color-grey-dark-1;
            padding-bottom: 15px;
            line-height: 1.5;
        }

        &-btn {
            font-size: $font-size - 2;
            text-transform: uppercase;
            background-color: $color-primary;
            color: $color-white;
            padding: 10px 15px;
            border: 1px solid transparent;
            font-weight: 500;
            transition: all 0.5s;
            cursor: pointer;
            letter-spacing: 2px;

            &:hover {
                border: 1px solid $color-grey-dark-1;
                color: $color-grey-dark-1;
                background-color: transparent;
            }
        }
    }
}

.slider .slick-dots {
    bottom: 50px;
    @include breakpoint-down-7 {
        bottom: 30px;
    }
}
