@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}
p {
    margin-bottom: 0;
}

@import 'blocks/price';
@import 'blocks/about';
@import 'blocks/contacts';
@import 'blocks/resume';
@import 'blocks/button';
@import 'blocks/menu';
@import 'blocks/portfolio';
@import 'blocks/promo';
@import 'blocks/scale';
@import 'blocks/sidepanel';
@import 'blocks/title';
@import 'blocks/tools';
@import 'blocks/media';

