@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
  line-height: 1.6;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 4.6rem;
}

.header {
  background-image: url(../img/home.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 80vh;
}
.header__special-offer {
  height: 5rem;
  padding: 1.5rem;
  background-color: #423d39;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 1rem;
}
.header__inner {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header__inner.sticky {
  position: fixed;
  top: 0;
  left: 4.6rem;
  right: 4.6rem;
  z-index: 99;
}
.header__inner.sticky:before {
  content: "";
  background: #fff;
  -webkit-box-shadow: 0 0 2px 0 rgba(75, 55, 55, 0.6);
          box-shadow: 0 0 2px 0 rgba(75, 55, 55, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -999px;
  right: -999px;
}
.header__button {
  position: relative;
}
.header__button-item {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 4.5rem;
}
.header__button-search, .header__button-user, .header__button-cart {
  fill: #292929;
  height: 1.6rem;
  width: 1.6rem;
}
.header__button-search:hover, .header__button-user:hover, .header__button-cart:hover {
  fill: #ca886e;
}

.menu-btn,
.burger__list-item {
  display: none;
}

.logo {
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 5px;
  color: #292929;
  margin-right: auto;
}
.logo:hover {
  color: #292929;
}

.menu {
  position: relative;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list-item {
  margin-left: 4.5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: "Circular Std", sans-serif;
}
.menu__list-link {
  color: #292929;
}

.top__inner {
  padding-top: 18rem;
}
.top__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 4.1rem;
  letter-spacing: 3px;
  color: #544f4c;
  width: 40rem;
  font-family: "Circular Std";
  padding-bottom: 1rem;
}
.top__text {
  font-size: 1.6rem;
  margin: 0 0 1.8rem;
  color: #544f4c;
  font-weight: 500;
  width: 42rem;
}
.top__btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #ca886e;
  color: #fff;
  padding: 1rem 2.2rem;
  border: none;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}
.top__btn:hover {
  border: 1px solid #544f4c;
  color: #544f4c;
  background-color: transparent;
}

/* 
SECTION  PRODUCTS
*/
.products {
  margin-top: 8rem;
}

.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  -webkit-transition: all 4s;
  transition: all 4s;
}
.product__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.product__item:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.product__item:hover .product__item-arrow {
  -webkit-animation: move 0.4s ease forwards;
          animation: move 0.4s ease forwards;
}
.product__item-image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.product__item-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.product__item-text {
  text-transform: uppercase;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.4rem 1.3rem;
  color: #4a4a4a;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1.6px;
}
.product__item-arrow {
  opacity: 0;
  margin-left: -3rem;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    margin-left: -1rem;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    margin-left: -1rem;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
/* 
SECTION  PRESS-CONTENT
*/
.press-content {
  margin: 7.6rem 0 7rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.press {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10rem 1fr 10rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem;
  margin: 0 12rem 0 12rem;
}
.press__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content, 1fr;
  -ms-grid-rows: min-content, 1fr;
  grid-template-rows: -webkit-min-content, 1fr;
  grid-template-rows: min-content, 1fr;
  grid-row-gap: 1.6rem;
}
.press__item-icon {
  -ms-grid-column-align: center;
      justify-self: center;
}
.press__item-text {
  text-align: center;
  color: #292929;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 2rem;
}

/* 
SECTION  SLIDER
*/
.slider__item {
  position: relative;
  max-width: 100%;
}
.slider__info {
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slider__info-title {
  color: #544f4c;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.slider__info-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: #544f4c;
  padding-bottom: 1rem;
}
.slider__info-btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #ca886e;
  color: #fff;
  padding: 1rem 2.2rem;
  border: none;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}
.slider__info-btn:hover {
  border: 1px solid #544f4c;
  color: #544f4c;
  background-color: transparent;
}

.slider .slick-dots {
  bottom: 3.3rem;
  width: auto;
  left: 13rem;
}

/* 
SECTION FEATURES 
*/
.features:after {
  content: "";
  display: block;
  height: 1px;
  background: rgba(76, 76, 76, 0.2);
  text-align: center;
  width: 124.8rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 63.75em) {
  .features:after {
    width: 87rem;
  }
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 14rem 1fr 14rem 1fr 14rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 14rem;
  padding: 8rem 0;
}
.feature__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 2rem 1fr;
  -ms-grid-columns: max-content 2rem 1fr;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 2rem;
}
.feature__item-icon {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 4.5rem;
}
.feature__item-heading {
  color: #4a4a4a;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
}

/* 
SECTION TRENDING
*/
.trending:after {
  content: "";
  display: block;
  height: 1px;
  background: rgba(76, 76, 76, 0.2);
  text-align: center;
  width: 134rem;
  margin-left: auto;
  margin-right: auto;
}
.trending__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.trending__title-heading {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #544f4c;
}
.trending__title-text {
  margin-left: 4rem;
  font-size: 1.6rem;
  color: #4a4a4a;
}
.trending__products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  padding-bottom: 9rem;
}
.trending__products-item:hover .trending__products-button {
  opacity: 1;
}
.trending__products-item:hover .trending__products-sale {
  color: #ca886e;
}
.trending__products-scale {
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1rem;
}
.trending__products-images {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.trending__products-images:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.trending__products-name {
  color: #4c4c4c;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-decoration: none;
}
.trending__products-price {
  color: rgba(76, 76, 76, 0.4);
  font-size: 1.6rem;
  font-weight: 500;
}
.trending__products-sale {
  color: rgba(76, 76, 76, 0.4);
  font-size: 1.6rem;
  font-weight: 500;
}
.trending__products-compare {
  color: rgba(76, 76, 76, 0.4);
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: line-through;
}
.trending__products-button {
  background-color: #978873;
  border: none;
  border-radius: 5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  opacity: 0;
}
.trending__products-button:hover {
  background-color: #a39580;
}

.our-instagram__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
  color: #544f4c;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.our-instagram__title-heading {
  font-size: 2.2rem;
  text-transform: uppercase;
}
.our-instagram__title-text {
  font-size: 1.4rem;
  color: #544f4c;
  margin-left: 4rem;
}

/* 
SECTION INSTAGRAM
 */
.instagram {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  margin-bottom: 9.4rem;
}
.instagram__item {
  position: relative;
}
.instagram__item:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.instagram__item:hover:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.instagram__item:hover .instagram__element-icon {
  opacity: 1;
  z-index: 1000;
}
.instagram__element-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
  fill: #fff;
}

/* 
FOOTER
*/
.footer__content {
  background-color: #eaeaea;
  padding: 8.4rem 0 9.6rem;
}
.footer__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6rem 1fr 6rem 1fr 6rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 6rem;
}
.footer__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__one-item {
  display: inline-block;
}
.footer__one-media {
  display: inline-block;
  padding: 6px 9px 5px 9px;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: 1.8px solid rgba(74, 74, 74, 0.1);
  fill: #aa8e7b;
}
.footer__one-media:hover {
  background-color: #ca886e;
  fill: #fff;
  border: 1.8px solid #ca886e;
}
.footer__one-nav {
  padding-top: 1.5rem;
  color: #4a4a4a;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer__form {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__form-icon {
  height: 1.8rem;
  width: 1.8rem;
}
.footer__form-input {
  padding: 0.7rem 1.6rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 3rem;
  width: 100%;
  margin-right: -4.5rem;
}
.footer__form-input:focus {
  outline: none;
}
.footer__form-input:focus::-webkit-input-placeholder {
  color: #fff;
}
.footer__form-input:focus::-moz-placeholder {
  color: #fff;
}
.footer__form-input:focus:-ms-input-placeholder {
  color: #fff;
}
.footer__form-input:focus::-ms-input-placeholder {
  color: #fff;
}
.footer__form-input:focus::placeholder {
  color: #fff;
}
.footer__form-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #fff;
  padding: 1.3rem 1.4rem;
}
.footer__form-button:focus {
  outline: none;
  height: 100%;
  background-color: #fff;
}
.footer__form-button:hover {
  background-color: #ca886e;
  fill: #fff;
}
.footer__four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__four-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  fill: #4a4a4a;
}
.footer__four-icon:hover {
  fill: #ca886e;
}
.footer__copyright {
  background-color: #4a4a4a;
  color: #fff;
  text-align: center;
  padding: 2rem 3rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.title-footer {
  font-size: 2rem;
  color: #4a4a4a;
  padding-bottom: 1.5rem;
}

.text-footer {
  color: #4a4a4a;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 3rem;
  list-style: none;
}

.wrapper-social {
  padding-bottom: 1.5rem;
}

a:hover {
  color: #ca886e;
  fill: #ca886e;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}
a:hover {
  color: #ca886e;
  fill: #ca886e;
}

@media only screen and (max-width: 67.5em) {
  .menu__list-item {
    margin-left: 2rem;
  }

  .header {
    height: 60vh;
  }
  .header__button-item {
    margin-left: 2rem;
  }

  .feature {
    -ms-grid-columns: 1fr 10rem 1fr 10rem 1fr 10rem 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10rem;
    grid-row-gap: 6rem;
    text-align: center;
    margin: 3rem 3rem 0 3rem;
    padding: 3rem 0 7rem;
  }
  .feature__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature__item-heading {
    padding-top: 2rem;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }
}
@media only screen and (max-width: 63.75em) {
  .header {
    height: 50vh;
  }
  .header__special-offer {
    position: relative;
    z-index: 10;
  }
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__inner.sticky {
    left: 0rem;
    right: 0rem;
    z-index: 100;
  }
  .header__button-item {
    display: none;
  }

  .menu {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 14rem 5rem;
    height: 70%;
    -webkit-transform: translateY(-60rem);
            transform: translateY(-60rem);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu--open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .menu__list {
    display: block;
  }
  .menu__list-item {
    text-transform: none;
    margin-left: 0;
    font-size: 1.6rem;
    letter-spacing: 1.3px;
  }
  .menu__list-item::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: rgba(76, 76, 76, 0.2);
    margin: 1.5rem 0;
  }

  .header__button-item {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0rem;
    margin-left: 0;
  }
  .header__button-item:nth-child(2) {
    display: none;
  }

  .burger__list-item {
    display: block;
  }
  .burger__button-user {
    display: none;
  }

  .logo {
    position: relative;
    margin-right: 0;
    z-index: 10;
  }

  .menu-btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
  .menu-btn span {
    background-color: #292929;
    width: 2rem;
    height: 2px;
    display: block;
    margin: 5px 0;
  }

  .top__inner {
    padding-top: 5rem;
  }

  .press {
    grid-gap: 3rem;
    margin: 0 6rem 0 6rem;
  }
}
@media only screen and (max-width: 47.9em) {
  .header {
    height: 50vh;
  }
  .header__special-offer {
    position: relative;
    z-index: 10;
  }
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__inner.sticky {
    left: 0rem;
    right: 0rem;
    z-index: 100;
  }

  .menu {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 14rem 5rem;
    height: 70%;
    -webkit-transform: translateY(-60rem);
            transform: translateY(-60rem);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu--open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .menu__list {
    display: block;
  }
  .menu__list-item {
    text-transform: none;
    margin-left: 0;
    font-size: 1.6rem;
    letter-spacing: 1.3px;
  }
  .menu__list-item::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: rgba(76, 76, 76, 0.2);
    margin: 1.5rem 0;
  }

  .header__button-item {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0rem;
    margin-left: 0;
  }
  .header__button-item:nth-child(2) {
    display: none;
  }

  .burger__list-item {
    display: block;
  }
  .burger__button-user {
    display: none;
  }

  .logo {
    position: relative;
    margin-right: 0;
    z-index: 10;
  }

  .menu-btn {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
  .menu-btn span {
    background-color: #292929;
    width: 2rem;
    height: 2px;
    display: block;
    margin: 5px 0;
  }

  .footer__inner {
    -ms-grid-columns: 1fr 6rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
  }

  .top__inner {
    padding-top: 38rem;
  }

  .products {
    margin-top: 35rem;
  }

  .product {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .press {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30rem;
    grid-template-columns: 30rem;
    grid-gap: 4rem;
    margin: 0 0 0 0;
  }

  .slider {
    background-color: #fefbf9;
    padding-bottom: 11rem;
  }
  .slider__info {
    position: relative;
    top: 11rem;
    left: 0;
    right: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .slider .slick-dots {
    bottom: 3.3rem;
    width: auto;
    left: 38%;
  }

  .feature {
    -ms-grid-columns: 1fr 10rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10rem;
    grid-row-gap: 6rem;
    text-align: center;
    margin: 3rem 3rem 0 3rem;
    padding: 3rem 0 7rem;
  }
  .feature__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature__item-heading {
    padding-top: 2rem;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }

  .trending__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem 0 1.5rem 0;
    font-weight: 500;
    letter-spacing: 0.8px;
  }
  .trending__title-heading {
    font-size: 1.6rem;
  }
  .trending__title-text {
    margin-left: 4rem;
    font-size: 1.4rem;
  }
  .trending__products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    padding-bottom: 5rem;
  }
  .trending__products-name, .trending__products-price, .trending__products-sale, .trending__products-compare {
    font-size: 1.4rem;
  }
  .trending__products-button {
    font-size: 1rem;
    padding: 0.2rem 0.8rem;
    margin-top: 0.5rem;
    cursor: pointer;
    opacity: 0;
  }

  .our-instagram__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem 0 1.5rem 0;
    color: #544f4c;
    letter-spacing: 0.8px;
  }
  .our-instagram__title-heading {
    font-size: 1.6rem;
  }
  .our-instagram__title-text {
    font-size: 1.4rem;
    margin-left: 4rem;
  }

  .instagram {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-bottom: 7rem;
  }

  .footer__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4rem;
  }
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Circular Std";
  src: url("../font/CircularStd/Circular Std Book.eot");
  src: local("☺"), url("../font/CircularStd/Circular Std Book.woff") format("woff"), url("../font/CircularStd/Circular Std Book.ttf") format("truetype"), url("../font/CircularStd/Circular Std Book.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../font/CircularStd/Circular Std Medium.eot");
  src: local("☺"), url("../font/CircularStd/Circular Std Medium.woff") format("woff"), url("../font/CircularStd/Circular Std Medium.ttf") format("truetype"), url("../font/CircularStd/Circular Std Medium.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}