/*   IMPORT FONTS
   ================================================== */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

//   FONTS
// ==================================================

$font-primary: "Montserrat", sans-serif;
$font-size: 16px;
$font-weight: 400;

//    //   COLORS
//    // ==================================================

$color-grey-1: rgb(177, 177, 177);
$color-grey-2: #edecef;
$color-grey-3: rgba(177, 177, 177, .2);
$color-green: #05d65f;
$color-green-2: #07863e;
$color-blue-1: #3B5998;
$color-blue-2: #1DA1F2;
$color-blue-3: #1565C0;
$color-red: #CD201F;
$color-yellow: #e4a100;


$color-black: #000;
$color-white: #fff;

//   VARIABLES
// ==================================================

$container: 1100px;

   // ================================================
   //   RESPONSIVE
   // ================================================

   @mixin breakpoint-down-4 {
       @media only screen and (max-width: 479px) { @content; }
   }
   @mixin breakpoint-down-7 {
       @media only screen and (max-width: 767px) { @content; }
   }
   @mixin breakpoint-down-9 {
       @media only screen and (max-width: 991px) { @content; }
   }
//    @mixin breakpoint-custom($breakpoint, $what-width: max-width) {
//        @media only screen and ($what-width: $breakpoint) { @content; }
//    }

   // Це не точка розриву - це базовий розмір контейнера наприклад 1170px
   // @mixin viewport-11 {
   //     @media only screen and (max-width: 1164px) { @content; }
   // }

   // @include phone {}
   // 1024, 1200
   // 375, 640, 660, 840, 960, 1024, 1280, 1400

/* ================================================
        BASE
      ================================================ */

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: 1.5;
    color: $color-grey-1;
    background-color: $color-black;

    -webkit-font-smoothing: antialiased;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
    max-width: $container + 60px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

img {
    width: 100%;
    display: block;
}

  
ul[class] {
    list-style: none;
    
}