// ================================================
//   IMPORT FONTS
// ================================================

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

// ================================================
//   FONTS
// ================================================

$font-primary: "Roboto", sans-serif;
$font-size: 17px;
$font-weight: 400;

// ================================================
//   COLORS
// ================================================

$color-grey-1: #4f4f4f;
$color-grey-2: #e0e0e0;
$color-green: #149038;

$color-black: #222222;
$color-white: #fff;

// ================================================
//   RESPONSIVE
// ================================================

@mixin breakpoint-down-11 {
    @media only screen and (max-width: 1199.98px) {
        @content;
    }
}

// @mixin breakpoint-down-9 {
//     @media only screen and (max-width: 991.98px) {
//         @content;
//     }
// }
// @mixin breakpoint-down-7 {
//     @media only screen and (max-width: 767.98px) {
//         @content;
//     }
// }

// @mixin breakpoint-down-5 {
//     @media only screen and (max-width: 575.98px) {
//         @content;
//     }
// }

// Це не точка розриву - це базовий розмір контейнера наприклад 1170px
// @mixin viewport-11 {
//     @media only screen and (max-width: 1164px) { @content; }
// }

// ================================================
//   BASE
// ================================================

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: 30px;
    color: $color-black;
    -webkit-font-smoothing: antialiased;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

ul[class] {
    list-style: none;
}
