// ================================================
//   FONTS
// ================================================
@font-face{
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face{
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face{
    font-family: 'spaceagecyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
         url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

// ================================================
//   BASE
// ================================================
*, 
*::before,
*::after{
    box-sizing: border-box;
}  

body {
    font-family: 'sf-pro-display';
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #fff;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

a{
    color: inherit;
    text-decoration: none;
    list-style: none;
}

button{
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.button{
    text-transform: uppercase;
    border: 1px solid #fff;
    font-size: 18px;
    line-height: 21px;
    padding: 20px 45px;

}

.title{
    padding: 100px 0;
    font-family: 'spaceagecyrillic';
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}