/*   IMPORT FONTS
   ================================================== */

   @font-face {
    font-family: "Circular Std";
    src: url("../font/CircularStd/Circular\ Std\ Book.eot");
    src: local("☺"), url("../font/CircularStd/Circular\ Std\ Book.woff") format("woff"),
        url("../font/CircularStd/Circular\ Std\ Book.ttf") format("truetype"),
        url("../font/CircularStd/Circular\ Std\ Book.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("../font/CircularStd/Circular\ Std\ Medium.eot");
    src: local("☺"), url("../font/CircularStd/Circular\ Std\ Medium.woff") format("woff"),
        url("../font/CircularStd/Circular\ Std\ Medium.ttf") format("truetype"),
        url("../font/CircularStd/Circular\ Std\ Medium.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}  
   
   //   FONTS
   // ==================================================
   
   $font-primary: 'Circular Std', sans-serif;
   $font-size: 16px;
   $font-weight: 500;
   
   
   //   COLORS
   // ==================================================
   
   $color-primary: #ca886e; //button
   $color-grey-dark-1: #544f4c; //title
   $color-grey-dark-2: #4a4a4a; //text
   $color-grey-dark-3: #4a4a4a; //footer
   $color-grey-dark-4: #423d39;
   $color-grey-dark-4: #292929;
   $color-black: #000;
   $color-white: #fff;
   
   
   //   VARIABLES
   // ==================================================
   
   $container: 1300px;
   
   
   // ================================================
   //   RESPONSIVE
   // ================================================
   @mixin breakpoint-down-10 {
    @media only screen and (max-width: 1023px) {@content;}
   }

   @mixin breakpoint-down-7 {
    @media only screen and (max-width: 767px) {@content;}
   }

   @mixin breakpoint-down-4 {
    @media only screen and (max-width: 480px) {@content;}
   }
  
   
   /* ================================================
        BASE
      ================================================ */
   
   html {
       scroll-behavior: smooth;
   }
   
   body {
       font-family: $font-primary;
       font-size: $font-size;
       font-weight: $font-weight;
       color: $color-grey-dark-2;
   
       -webkit-font-smoothing: antialiased;
   }
   
   a:link,
   a:visited {
       color: inherit;
       text-decoration: none;
       transition: color .2s ease-out;
   }
   
   .container {
       max-width: $container + 80px;
       width: 100%;
       margin: 0 auto;
       padding: 0 30px;
   }
   
   img {
       max-width: 100%;
       height: auto;
       display: block;
   }
   