.section {
    // .section__jobs
    &__jobs {
        padding-bottom: 64px;
    }
}
.jobs {
    padding-top: 100px;
    @media (max-width: $breakpoint1400) {
        padding-top: 50px;
    }
    // .jobs__item
    &__item {
        padding: 35px 60px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 17px 35px rgba(22, 23, 72, 0.05);
        border-radius: 8px;
        @media (max-width: $breakpoint768) {
            padding: 35px 30px;
        }
        // .jobs__item-title
        &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 27px;
            color: $grayColor;
        }
        // .jobs__item-info
        &-info {
            margin-top: 24px;
            display: flex;
            gap: 20px;
            align-items: center;
            @media (max-width: $breakpoint768) {
                margin-top: 10px;
            }
            @media (max-width: $breakpoint768) {
                margin-bottom: 10px;
            } 
            &--time, &--location {
                display: flex;
                align-items: center;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 27px;
                color: $grayColor;
                svg {
                    margin-right: 5px;
                }
            }
        }
    }
}
.jobs__btn-outline {
    display: flex;
    align-items: center;   
}
.jobs__btn {
    padding-top: 38px;
    display: flex;
    justify-content: center;
}