.section {
    // .section__recommend
    &__recommend {
        margin-top: 56px;
        margin-bottom: 127px;
        @media (max-width: $breakpoint992) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
.recommend {
    padding: 68px 0 68px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #F7F8FF;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;
   
    // .recommend__item
    &__item {
        // .recommend__item-title
        &-title {
            display: flex;
            margin-left: 27px;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
            color: $blueColor;
            @media (max-width: $breakpoint992) {
                font-size: 32px;
                line-height: 44px;
            }
            @media (max-width: $breakpoint768) {
                text-align: center;
                font-size: 26px;
                line-height: 36px;
            }
            @media (max-width: $breakpoint480) {
                text-align: center;
            }
            
        }
        // .recommend__item-subtitle
        &-subtitle {}
        // .recommend__item-raiting
        &-raiting {
            display: flex;
            align-items: center;
            &--num {
                margin-right: 7px;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 62px;
            }
            &--stars {
                gap: 5px;
            }
        }
        // .recommend__item-link
        &-link {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            text-decoration-line: underline;
            color: #424B5A;
        }
    }
}
.first {
    // .first__item
    &__item {
        display: flex;
        align-items: center;
        flex: 0 1 55%;
        @media (max-width: $breakpoint768) {
            flex: 1 0 100%;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 40px;
                img {
                    margin-bottom: 10px;
                }
        }
    }
}
.second {
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
