/* ================================================
     GENERAL. CSS RESET
   ================================================ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #eaeaea;
    font-weight: 400;
    background-color: #000000;
    margin: 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease;
}

.heading-1 {
    font-size: 20px;
    font-weight: 500;
}

.container {
    max-width: 480px;
    min-width: 375px;
    margin: 100px auto;
    background-color: #1c1c1e;
    padding: 16px;
    border-radius: 10px;
}


/* ================================================
     HEADER
   ================================================ */

.header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
   
}

.header__user-photo {
    width: 90px;
    
}
.header__user-photo img {
    width: 100%;
}

.header__social img {
    width: 16px;
    height: 16px;
    margin: 6px 6px 0 0;    
}


/* ================================================
     LESSONS
   ================================================ */

.lessons__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.lessons__item {
    list-style: none;
    height: 90px;
    background-color: #7474802e;
    border-radius: 6px;
    margin-bottom: 12px;
    display: flex;
}

.lessons__link {
    display: flex;
    align-items: center;
    width: 100%;
}

.lessons__link:hover {
    transition: background-color 0.3s, box-shadow 0.35s;
    background-color: rgba(28, 28, 30, 0.6);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.lessons__link img {
    width: 130px;
    border-radius: 4px;
    margin: 10px;
}

span {
    display: block;
    margin-left: 0px;
}

.lessons__subtitle {
    display: block;
    color: #89898e;
    font-size: 13px;
    text-transform: none;
}
