footer {
    background: #0D123C;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 55px 0 62px;
    @media (max-width: $breakpoint768) {
        padding: 35px 0;
        flex-wrap: wrap;
    }
    &__item {
        flex: 0 1 50%;
        @media (max-width: $breakpoint768) {
            flex: 0 0 100%;
        }
    }
    &__logo {

    }
    &__text {
        margin-top: 25px;
        max-width: 287px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        color: $whiteColor;
        @media (max-width: $breakpoint768) {
            max-width: 100%;
        }
    }
    &__lists {
        display: flex;
        justify-content: space-between;
        max-width: 455px;
        margin-left: auto;
        @media (max-width: $breakpoint768) {
            max-width: 100%;
            margin-left: 0;
            margin-top: 25px; 
        }
        @media (max-width: $breakpoint480) {
            flex-wrap: wrap;
        }
        &-item {
            @media (max-width: $breakpoint480) {
                flex: 0 0 50%;
                &:last-child {
                    margin-top: 35px;
                }
            }
        }
    }
    &__list {
        margin-top: 30px;
        &-title {
            margin-bottom: 10px;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: $whiteColor;
        }
        &-item {
            margin-top: 20px;
          &--link {
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: $whiteColor;
            &:hover {
                color: $redColor;
                transition: .3s all easy;
            }
          }
        }
    }
    &__social {
        margin-top: 30px;
        display: flex;
        gap: 15px;
        &-link {
            &:hover {
                path {
                    fill: $redColor;
                    transition: .3s all easy;
                } 
            }  
        }
    }
}
.footer {
    &__copyright {
        padding: 30px 0;  
        border-top: 1px solid rgba(197, 203, 226, 0.5);
    }
    &__copy {
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint480) {
            flex-direction: column;
        }
    }
    &__copy-item {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: $whiteColor;
        @media (max-width: $breakpoint480) {
            &:last-child {
                margin-top: 10px;
            }
        }
        a {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: $whiteColor;
            text-decoration: underline;
        }
    }
}