/* ================================================
     LESSONS 9 Работа с DOM, создание элементов, работа с CSS
   ================================================ */
.one-9 {
    background:yellow;
}

.two-9 {
    background: orange;
}

.three-9 {
    border: 2px solid red;
}