.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: $color-white;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px 0;
        position: relative;
        height: 84px;
        @media (max-width: 767.98px) {
            height: 64px;
        }
    }

    &__logo {
        position: relative;
        z-index: 16;
        &-icon {
            @media (max-width: 1199.98px) {
                width: 155px;
            }
        }
    }

    &::after {
        content: "";
        display: block;
        width: calc(100% - 32px);
        margin: 0 auto;
        height: 1px;
        background-color: $color-grey-2;
        position: relative;
        z-index: 14;
        @media (max-width: 1199.98px) {
            z-index: 15;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 15;
    @media (max-width: 1199.98px) {
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: $color-white;
        padding: 110px 0 0 0;
        transition: all 0.3s ease 0s;
    }
    @media (max-width: 1199.98px) {
        justify-content: center;
        margin-left: 0;
    }

    &__list {
        display: flex;
        align-items: center;
        @media (max-width: 1199.98px) {
            display: block;
            text-align: center;
        }

        &-link {
            font-weight: 500;
            font-size: 15px;
            margin-right: 24px;
            &:hover {
                text-decoration: line-through;
            }
        }
    }

    &__list-item {
        @media (max-width: 1199.98px) {
            margin-bottom: 32px;
        }
    }

    &__mobile-bg {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.64);
        z-index: 13;
        &.active {
            @media (max-width: 1199.98px) {
                display: block;
            } 
        }
    }
}

.menu.active {
    @media (max-width: 1199.98px) {
        top: 0;
        height: 500px;
    }
}

.lang-menu {
    position: relative;
    z-index: 16;
    &:hover {
        .lang-menu__btn {
            &:before {
                color: $color-green;
                transform: scaleY(-1) translateY(3px);
            }
        }
        .lang-menu__item {
            display: block;
            @media (max-width: 1199.98px) {
                display: flex;
            }
        }
    }

    &__btn {
        position: relative;
        padding: 6px 32px 6px 10px;
        border: 1px solid #000;
        background-color: $color-white;
        cursor: pointer;
        @media (max-width: 1199.98px) {
            display: none;
        }

        &::before {
            content: "";
            display: block;
            background-image: url(../img/Polygon.svg);
            width: 6px;
            height: 3px;
            top: 50%;
            left: 75%;
            position: absolute;
            transform: translate(0, -50%);
            transition: all 0.3s ease;
        }
        &:hover {
            color: $color-green;
            border: 1px solid $color-green;
            @media (max-width: 1199.98px) {
                border: none;
                color: $color-black;
            }
        }
    }

    &__item {
        margin-left: -38px;
        margin-top: 4px;
        position: absolute;
        min-width: 110px;
        border: 1px solid $color-black;
        z-index: 16;
        font-size: 16px;
        padding: 25px 15px 0px;
        background-color: $color-white;
        display: none;
        @media (max-width: 1199.98px) {
            display: block;
            border: none;
            margin-left: 0;
            display: flex;
            justify-content: center;
            margin-right: 20px;
            position: relative;
            display: flex;
            justify-content: space-evenly;
            line-height: 2;
        }
        &::before {
            content: '';
            position: absolute;
            top: -5px;
            left: 0;
            width: 100%;
            height: 4px;
        }

        &-link {
            color: black;
            padding-bottom: 25px;
            text-decoration: none;
            display: block;
            line-height: 0;
            @media (max-width: 1199.98px) {
                font-weight: 500;
                font-size: 15px;
            }

            &:hover {
                color: $color-green;
                @media (max-width: 1199.98px) {
                    text-decoration: line-through;
                    color: $color-black;
                }
            }
        }
    }
}

.lang-eng {
    display: none;
    @media (max-width: 1199.98px) {
        display: block;
    }
}

.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    background-color: transparent;
    z-index: 15;
    display: none;
    cursor: pointer;
    @media (max-width: 1199.98px) {
        display: block;
    }
}

.header__burger span {
    position: absolute;
    background-color: $color-black;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
}
.header__burger:before {
    content: "";
    background-color: $color-black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
}

.header__burger:after {
    content: "";
    background-color: $color-black;
    position: absolute;
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    margin-left: 15px;
    transition: all 0.3s ease;
}

.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.active:after {
    transform: rotate(-45deg);
    width: 100%;
    margin-left: 0px;
    bottom: 9px;
}

.header__burger.active span {
    transform: scale(0);
}