@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/advantages';
@import 'blocks/buttons';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/consultation';
@import 'blocks/feedback';
@import 'blocks/forms';
@import 'blocks/header';
@import 'blocks/modal';
@import 'blocks/promo';
@import 'blocks/titles';
@import 'blocks/footer';
@import 'blocks/media';
