.premium-slider {
    &__heading-box {
        text-align: center;
        max-width: 1050px;
        margin: 0 auto;
        margin-top: 130px;
        &__title {
            font-size: $font-size + 24px;
            font-weight: 700;
            color: $color-white;
        }
    }

    &__slider {
        padding: 70px 0 70px;
    }

    &__slide {
        position: relative;

        cursor: pointer;
        border: 4px solid transparent;
        &:hover {
            transition: 0.2s ease-in-out;
            border: 4px solid $color-green;
        }

        &-img {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                /* Adjust the color values to achieve desired darkness */
                background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
            }
        }

        &-info {
            position: absolute;
            left: 20px;
            bottom: 20px;
        }
        &-rating {
            display: flex;
        }
    }
}

span {font-size: $font-size - 2px;}