.premium-slider {
    text-align: center;
    max-width: 1050px;
    margin: 0 auto;

    &__heading {
        margin-top: 130px;
        font-size: $font-size + 24px;
        font-weight: 700;
        color: $color-white;

     
    }
    &__text {
        display: flex;
        justify-content: center;
        padding-bottom: 70px;
    }
}

.slider {
    &__item {
        width: 300px;
    }
}