.premium-slider {
    &__content {
        text-align: center;
        max-width: 1050px;
        margin: 0 auto;
        margin-top: 130px;
        &__heading {
            font-size: $font-size + 24px;
            font-weight: 700;
            color: $color-white;
        }
        &__text {
            display: flex;
            justify-content: center;
        }
    }
}

.slider {
    padding: 70px 0 70px;

    &__item {
        
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 600px;
        cursor: pointer;
        border: 4px solid rgba(177, 177, 177, 0.1);
        &:hover {
            transition: 0.2s ease-in-out;
            border: 4px solid $color-green;
        }
    }
    &__img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
     height: 600px;
     object-fit: cover;
     background-position: center center;
    }

    &__info {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    &__raiting-icon {
        fill: $color-yellow;
    }
    
    &__raiting-text {

    }

} 


.wrapper-slider {
}
