.review-slider {
    padding: 120px 0 180px;
    &__wrapper {
        position: relative;
    }
    &__item-img {
        width: 350px;
        position: relative;
       margin-left: 60px;
    
    }
    &__title  {
        font-size: $font-size + 14px;
        line-height: 0.9;
        color: $color-white;
        margin-bottom: 10px;
    }

    &__item-info {
       
        width: 550px;
        position: absolute;
        top: 80px;
        left: 480px;
        
        
    }

    &__text {
        font-size: $font-size - 1px;
        padding-top: 10px;

    }

    &__btn {
        background-color: $color-green;
        border-radius: 5px;
        padding: 15px 20px 15px 20px;
        font-size: $font-size - 2px;
        font-weight: 500;
        margin-top: 25px;
        &:hover{
            background-color: $color-green-2;
            color: $color-white;
        }
    }
}

/* Arrows */


.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: red;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}