.section {
    &__about {
        margin: 100px 0;
        @media (max-width: $breakpoint992) {
            margin: 75px 0;
        }
        @media (max-width: $breakpoint768) {
            margin: 50px 0;
        }
    }
}

.about {
    margin: 0 auto;
    max-width: 450px;
    &__subtitle {
        margin-top: 20px;
        @media (max-width: $breakpoint992) {
            margin-top: 10px;
        }
    }
    &__items {
        margin-top: 10px;
    }
    &__item {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        list-style-type: disc;
    }
}