@font-face {
     font-family: 'Raleway';
     src: url('../fonts/Raleway-Thin.ttf');
     font-weight: 100;
     font-style: normal;
}

@font-face {
     font-family: 'Raleway';
     src: url('../fonts/Raleway-Light.otf');
     font-weight: 300;
     font-style: normal;
}


@font-face {
     font-family: 'Raleway';
     src: url('../fonts/Raleway-Regular.otf');
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: 'Raleway'; 
     src: url('../fonts/Raleway-Bold.otf');
     font-weight: 700;
     font-style: normal;
}