// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1200) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body { 
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #1a1a1a;
    background: $secondary;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    &.locked {
        overflow: hidden;
    }
}

.title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 38px;
    @media (max-width: $breakpoint768) {
        font-size: 22px;
        line-height: 32px;
    }
}
.subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    @media (max-width: $breakpoint992) {
        font-size: 18px;
        line-height: 26px;
    }
}
.btn {
    border-radius: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
