.section {
    &__hero {
        background: $primary;
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $breakpoint992) {
        flex-direction: column;
        position: relative;
    }
    &__item {
        flex: 0 1 100%;
        @media (max-width: $breakpoint992) {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }
    &__img {
        max-width: 100%;
        width: 100%;
        height: auto;
        img {
            width: 500px;
            @media (max-width: $breakpoint480) {
                width: 300px;
            }
        }
    }
    &__play {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        border: .5px solid #ffffff;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        @media (max-width: $breakpoint992) {
            position: absolute;
            top: 245px;
            left: 50%;
            transform: translateX(-50%);
            background: #184b78;
            border: .5px solid #184b78;
            @media (max-width: $breakpoint480) {
                top: 140px;
                width: 70px;
                height: 70px;
            }
        }
        svg {
            width: 40px;
            height: 40px;
            @media (max-width: $breakpoint480) {
                width: 30px;
                height: 30px;
            }
        }
    }
    &__title {
        margin-top: 60px;
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 60px;
        color: #ffffff;
        @media (max-width: $breakpoint992) {
            margin-top: 0px;
        }
        @media (max-width: $breakpoint768) {
            font-size: 38px;
            line-height: 48px;
        }
        @media (max-width: $breakpoint480) {
            text-align: center;
            font-size: 28px;
            line-height: 38px;
        }
    }
    &__subtitle {
        margin: 10px 0 40px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
        @media (max-width: $breakpoint992) {
            margin: 10px 0 20px;
        }
        @media (max-width: $breakpoint480) {
            text-align: center;
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__btn {
        padding: 20px 25px 20px 25px;
        color: #000000;
        background: #ffffff;
        border: 1px solid #ffffff;
        @media (max-width: $breakpoint992) {
            margin-bottom: 75px;
        }
        @media (max-width: $breakpoint768) {
            margin-bottom: 50px;
            padding: 15px 20px 15px 20px;
        }
        @media (max-width: $breakpoint480) {
            padding: 10px 15px 10px 15px;
            text-align: center;
            font-size: 16px;
            line-height: 24px;
        }
        &:hover {
            color: #ffffff;
            background: #184b78;
            box-shadow: 0px 4px 24px rgba(10, 38, 63, 0.044);
            transition: .3s all ease;
        }

    }
}
