/* ================================================
     TYPOGRAPHY
   ================================================ */

%heading {
    font-family: $font-primary;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-decoration: none;
}

.heading-2 {
    @extend %heading;
    font-size: $font-size + 14px;
    line-height: 0.9;
    color: $color-white;
    padding-bottom: 40px; 
}

.heading-3 {
    @extend %heading;
    font-size: $font-size + 4px;
    letter-spacing: 0.32px;
    color: $color-white;
}

.heading-4 {
    @extend %heading;
    font-size: $font-size + 6px;
    letter-spacing: 0.32px;
    color: $color-black;
}

.heading-5 {
    @extend %heading;
    font-size: $font-size + 2px;
    letter-spacing: 0.32px;
    color: $color-white;
    padding-bottom: 20px;

}

.star-icon {
    fill: $color-yellow;
     width: 20px;
     height: 20px;
}

// .subtitle {
//     
//     color: $color-white;
//     padding-bottom: 20px;
// }

input,
textarea,
select {
    // Reset iPhone style
    -webkit-appearance: none;
    border: none;
    outline: 0;
    border-radius: 5px;
    
    
    font-family: inherit;
    // font-size: $font-size - 2px;
    font-weight: inherit;
    line-height: 21px;
    background-color: transparent;
    transition: border-color 0.2s ease-in-out;

    &:focus {
        color: $color-grey-1;
        border-color: $color-green;
    }

    
}

button {
    background-color: transparent;
    color: $color-white;
    fill: $color-white;
    padding: 0 20px 0 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: $color-green;
        fill: $color-green;
    }
}

.active {
    // background-color: $color-blue-3;
    // color: $color-white;
}

.social-icon {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 16px 0px;
    fill: $color-white;
    margin-left: 6px;

}