.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba($color: #000000, $alpha: .56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%; 
    padding: 38px 40px 40px;
    width: 380px;
    min-height: 400px;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 41px;
        line-height: 21px;
        color: $color-red;
        cursor: pointer;
    }
    &__subtitle {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
    }
    &__descr {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
    }
    &_mini {
        min-height: 140px;
    }
    .error {
        margin-bottom: 15px;
        border: 1px solid $color-red;
        text-align: center;
    }
    label.error {
        border: none;
    }
}

#consultation,
#order,
#thanks {
    display: none;
}