.footer {
    margin-bottom: 200px;
    &__wrapper {

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $color-grey-3;
            margin: 30px 0 90px;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
    }

    &__info {
        display: grid;
        grid-template-columns: 180px 300px 350px;
        grid-column-gap: 80px;
    }
}

.site-map {
    &__item {
        display: flex;
        flex-direction: column;
        font-size: $font-size - 3px;
        line-height: 2.2;
    }
}

.category {

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0px;
        font-size: $font-size - 2px;
        line-height: 2.2;
    }
    &__item {
        display: grid;
    }
}

.subscribe {
    font-size: $font-size;
   
    &__form {
        margin-top: 20px;
        border: 1px solid $color-green;
        border-radius: 5px 6px 6px 5px;
        margin-right: -40px;
        display: flex;
       
        &-input {
        padding: 20px 10px 20px 30px;
        border: none;
            font-size: $font-size ;
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 1.6;
            width: 100%;
        }

        &-button {
            background-color: $color-green;
            border: 1px solid $color-green;
            border-radius: 0 5px 5px 0;
            padding: 0 30px 0 30px;
        }

        &-btn {
            width: 20px;
            height: 20px;
            transform: rotate(180deg);  
        }
    }
}

.icon {
    &__google { 
        cursor: pointer;
        background-color: $color-blue-1;}

    &__twitter { 
        cursor: pointer;
        background-color: $color-blue-2; }

    &__youtube { 
        cursor: pointer;
        background-color: $color-red; }

    &__instagram { 
        cursor: pointer;
        background-color: $color-blue-3; }
}
