.header {
    padding-top: 10px;

    &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    &__search {
        display: flex;
        margin-right: 20px;
        &-input {
            padding: 12px 120px 12px 15px;
            border: 1px solid $color-grey-3;
            margin-right: -55px;

            &::placeholder {
                color: $color-grey-3;
            }
        }
        
        &-icon {
            width: 18px;
            height: 18px;
        }
    }

    &__button {
        font-size: $font-size - 2px;
    }
}
.wrapper-header {
    display: flex;
}

.menu__list {
    display: flex;
    
    &-item {
        margin-right: 40px;
        color: $color-white;
        font-size: $font-size - 2px;
    } 
}

