.footer {
    margin-bottom: 500px;
    &__content {
        background-color: #eaeaea;
        padding: 90px 0 80px;
        @include breakpoint-down-4 {
            padding: 50px 0 40px;
           
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;

        @include breakpoint-down-7 {
            grid-template-columns: repeat(2, 1fr);
           
        }

        @include breakpoint-down-4 {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
        }
    }

    &__one {
        display: flex;
        flex-direction: column;

        &-item {
            display: inline-block;
        }

        &-media {
            display: inline-block;
            padding: 6px 9px 5px 9px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1.8px solid rgba(74, 74, 74, 0.1);
            fill: #aa8e7b;

            &:hover {
                background-color: $color-primary;
                fill: #fff;
                border: 1.8px solid transparent;
            }
        }

        &-nav {
            padding-top: 15px;
            color: $color-grey-dark-3;
            font-size: $font-size;
            font-weight: 500;
        }
    }

    &__form {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon {
            height: 20px;
            width: 20px;
        }

        &-input {
            padding: 10px 15px;
            border: none;
            font-size: $font-size - 4;
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 1.6;
            width: 100%;
            margin-right: -40px;

            &:focus {
                outline: none;

                &::placeholder {
                    color: $color-white;
                }
            }
        }

        &-button {
            cursor: pointer;
            border: none;
            background-color: $color-white;
            padding: 10px 15px 11px 15px;
            transition: all .5s;
            
            &:focus {
                outline: none;
                height: 100%;
                background-color: $color-white;
            }
            &:hover {
                background-color: $color-primary;
                color: $color-white;
            }
        }
    }

    &__four {
        display: flex;
        flex-direction: column;

        &-icon {
            width: 20px;
            height: 20px;
            margin-right: 15px;
            fill: $color-grey-dark-3;

            &:hover {
                fill: $color-primary;
            }
        }
    }

    &__copyright {
        background-color: $color-grey-dark-3;
        color: $color-white;
        text-align: center;
        padding: 25px 0 25px;
        letter-spacing: .8px;
        font-size: $font-size - 2;
        @include breakpoint-down-7 {
            font-size: $font-size - 2;
        }
    }
}

.title-footer {
    font-size: $font-size + 6;
    color: $color-grey-dark-3;
    padding-bottom: 15px;
}
.text-footer {
    color: $color-grey-dark-3;
    font-weight: 500;
    font-size: $font-size - 2;
    letter-spacing: 1px;
    line-height: 30px;
    list-style: none;
}

.wrapper-social {
    padding-bottom: 15px;
}

a {
    &:hover {
        color: $color-primary;
        fill: $color-primary;
    }
}

a {
    text-decoration: none;
    color: $color-grey-dark-3;
    &:hover {
        color: $color-primary;
        fill: $color-primary;
    }
}
